body {
  margin: 0;
  background-color: #21232E;
  color: white;
  font-family: "Source Sans Pro", sans-serif; }
  body * {
    box-sizing: border-box; }

p {
  margin: 0; }

.button, .header .header-wrap .header_button, .section .section_banner .section_banner_button {
  background-color: #E3AC00;
  border: none;
  color: white;
  border-radius: 2px;
  padding: 15px 40px; }
  .button:hover, .header .header-wrap .header_button:hover, .section .section_banner .section_banner_button:hover {
    cursor: pointer; }

.header {
  background: url("../img/m-h-night.jpg") no-repeat 0 0;
  background-size: cover;
  min-height: 100vh;
  border-radius: 0 0 50% 0; }
  .header .landing-logo {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
    font-family: "Hind", sans-serif;
    font-weight: bold;
    margin-bottom: 30px; }
    .header .landing-logo p {
      font-size: 25px;
      text-align: center;
      line-height: 1; }
      .header .landing-logo p span {
        display: block;
        font-size: 10px; }
  .header .header-wrap {
    padding-top: 20px;
    margin: 0 10%;
    width: 90%; }
    .header .header-wrap .header_heading {
      color: white;
      font-size: 75px;
      width: 50%;
      font-weight: bold;
      font-family: "Source Sans Pro", sans-serif;
      position: relative;
      z-index: 1; }
      .header .header-wrap .header_heading::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #FF4E33;
        width: 4.2em;
        bottom: 0;
        z-index: -1;
        height: 32px; }
    .header .header-wrap .header_text {
      font-family: "Hind", sans-serif;
      width: 40%;
      margin: 40px 0; }

.section {
  text-align: center;
  position: relative; }
  .section p.section_text {
    position: relative;
    display: inline-block;
    z-index: 1;
    font-size: 45px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    margin: 20px 0; }
    .section p.section_text:before {
      content: "";
      display: block;
      position: absolute;
      background-color: #FF4E33;
      width: 4.2em;
      bottom: 0;
      z-index: -1;
      height: 16px;
      left: 52.5%;
      width: 45%;
      bottom: 10%; }
  .section .section_card_wrap {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 200px; }
    .section .section_card_wrap .section_card_img {
      border-radius: 3px;
      width: 100%; }
    .section .section_card_wrap .section_card {
      color: white;
      width: 30%;
      border-radius: 3px;
      background-color: #575a68;
      padding: 15px; }
      .section .section_card_wrap .section_card .section_card_heading {
        margin: 10px 0;
        font-size: 25px;
        font-family: "Hind", sans-serif;
        font-weight: bold;
        position: relative;
        z-index: 1; }
        .section .section_card_wrap .section_card .section_card_heading span {
          content: "";
          display: block;
          position: absolute;
          background-color: #FF4E33;
          width: inherit;
          right: 20%;
          z-index: -1;
          height: 10px;
          bottom: 20%;
          width: 60%; }
      .section .section_card_wrap .section_card .section_card_text {
        opacity: 0.5; }
  .section .section_banner {
    background: linear-gradient(to right, #db9f07 0%, #922c51 100%);
    width: 60%;
    margin: 0 auto;
    color: white;
    display: flex;
    border-radius: 3px;
    padding: 30px;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    bottom: -53%;
    left: 19%; }
    .section .section_banner .section_banner_heading {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px; }
    .section .section_banner .section_banner_text {
      margin-bottom: 20px;
      font-family: "Source Sans Pro", sans-serif;
      margin-left: -65px; }
    .section .section_banner .section_banner_button {
      align-self: center; }

.footer {
  height: 300px;
  background-color: #575a68;
  color: white;
  padding: 11em 0 5em 0; }
  .footer .footer-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .footer .footer-wrap .footer_logo {
      display: flex;
      width: 10%;
      align-items: center;
      justify-content: space-around;
      font-family: "Hind", sans-serif;
      font-weight: bold;
      margin-bottom: 30px; }
      .footer .footer-wrap .footer_logo p {
        font-size: 25px;
        text-align: center;
        line-height: 1; }
        .footer .footer-wrap .footer_logo p span {
          display: block;
          font-size: 10px; }
    .footer .footer-wrap .footer_text {
      width: 30%; }
    .footer .footer-wrap .footer-cr {
      opacity: 0.5; }