    
$backgroundPicture: url('../img/m-h-day.jpg') no-repeat 0 60%;
$footerColor: #21232E;
$lineColor: #14A0C7;
$buttonColor: #699900;
$textColor: #2C2F3C;
$backgroundColor: white;
$gradient: linear-gradient(to right, rgba(99, 147, 20, 1) 0%, rgba(48, 94, 205, 1) 100%);

$map: (
        sans: ('Source Sans Pro', sans-serif),
        hind: ('Hind', sans-serif),
        fresca: ('Fresca', sans-serif)
);