$backgroundPicture: url('../img/m-h-night.jpg') no-repeat 0 0;
$footerColor: rgb(87, 90, 104);
$lineColor: #FF4E33;
$buttonColor: #E3AC00;
$textColor: white;
$backgroundColor: #21232E;
$gradient: linear-gradient(to right, rgba(219, 159, 7, 1) 0%, rgba(146, 44, 81, 1) 100%);

$map: (
        sans: ('Source Sans Pro', sans-serif),
        hind: ('Hind', sans-serif),
        fresca: ('Fresca', sans-serif)
);